//
// Gravity Forms Ready Classes
//===============================

.gform_wrapper {
    .top_label {
        li.gfield {
            &.gf_inline {
                margin-right: 0;

                input {
                    width: 100% !important;
                }
            }

            &.gf_left_half {
                width: 99%;
                clear: both;
                margin-right: 0;
            }
            &.gf_right_half {
                width: 99%;
                clear: both;
            }

            &.gfield_error {
                &.gf_left_half, &.gf_right_half {
                    width: 99% !important
                }

                &.gf_left_half {
                    margin-right: 0;
                }
            }

            &.gf_left_third, &.gf_middle_third, &.gf_right_third {
                width: 99%;
            }

            &.gf_middle_third, &.gf_right_third {
                margin-left: 0 !important;
            }

            &.gfield_error {
                &.gf_left_third, &.gf_middle_third, &.gf_right_third {
                    width: 99%
                }
            }

            &.gf_left_third, &.gf_middle_third, &.gf_right_third {
                clear: both !important;

                input, select {
                    &.medium, &.large {
                        width: 99%;
                    }
                }
            }

            &.gf_left_third + li.gsection,
            &.gf_right_third + li.gsection {
                padding: 1em 0 0.50em 0;
            }

            &.gf_left_third + li.gfield,
            &.gf_middle_third + li.gfield,
            &.gf_right_third + li.gfield,
            &.gf_left_third + .gform_footer,
            &.gf_middle_third + .gform_footer,
            &.gf_right_third + .gform_footer {
                clear: both;
            }

            &.gf_list_2col, &.gf_list_3col, &.gf_list_4col, &.gf_list_5col {
                ul.gfield_checkbox li, ul.gfield_radio li, ul.gfield_checkbox li, ul.gfield_radio li {
                    width: 99%;
                }
            }
        }
    }
}
